.container {
    background-color: rgba(0, 0, 0, 0.253);
    font-family: 'Patrick Hand', cursive;
    color: #88e23b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
    place-items: center;
    height: 80vh;
    backdrop-filter: blur(1px);
    border-radius: 1rem;
}

.column {
    padding: 1rem;
    width: 700px;
}

.text {
    background-color: #16144579;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.image {
    margin-top: 80px;
    width: 400px;
    border-radius: 12rem;
}

.backButton {
    border: 3px solid #60a85f;
    background-color: #88e23b;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: fit-content 10px;
    color: #043c6e;
    font-weight: bold;
    margin-top: 20px;
}

.backButton:active {
    transform: scale(.9);
}