.contenedor{

    width: fit-content;
    display: flex;
    flex-direction:row;
    gap: 1rem;
    margin: 1rem;
    padding: 1px 1px 1px 1px;
/*     position:absolute; */
    top: 3rem;
    left: 1rem;
    flex-wrap: wrap ;
    justify-content:space-evenly;

}