.contenedor {

    width: 200px;
    flex-direction:column;
    background-color: rgba(0, 0, 0, 0.446);
    padding: 1rem;
    border: 2px solid #043c6e; 
    border-radius: 1rem;
    color: #88e23b;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    /* backdrop-filter: blur(2px); */
}

.contenedor:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.button{
  background-color: #043c6e6e;
  color: #60a85f;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-top-left-radius:1rem;
  border-top-right-radius: 1rem;
}

.button:hover{
    background-color:#043c6e;

}

.button:active{
    background-color: #0f375a;
    transform: scale(0.9);
}
 
.button:focus{
    background-color: #043c6ec0;
    outline: none;
}
.image {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-width: 100%;
    height: auto;
}

.h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.property2{
    width: fit-content;
    display:flex;
    align-items: end;
    font-size: 18px;
    margin: 5px 0;

    
}

.property{
    width: fit-content;
    display: flex;
    font-size: 18px;
    margin: 5px 0;
    
}
.name { 
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin: 1px;
    margin-bottom: 1rem;
    color: #88e23b;
    
    
/*     background-color:#043c6e44; */
/*     border-radius: 5px; */
/*     border:solid #60a85f57; */
}

.name:hover{
    transform: scale(1.1);

}

.name:active{
    transform: scale(1.0);
}

.Navname{
    text-decoration:none;
}