.searchBar {
    flex: 1;
}

.barra {
    position: relative;
    align-items: center;
    background-color: #16144595;
    border: 1px solid #161445;
    border-left: 0;
    border-right: none;
    padding: 0px 4px 0px 16px;
    height: 30px;
}

.barra:focus {
    background-color: #161445c0;
    border-color: #161445;
    outline: none;
}

.button {
    border: 1px solid #161445;
    background-color: #16144595;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    height: 30px;
    width: 64px;
    margin: 0;
    color: #c5c5d9;
}

.button:hover {
    background-color: #161445cc;
}

.button:active {
    transform: scale(0.9);
}

.button:focus{
    background-color: #161445cc;
    outline: none;
}
