.barra{
    position: relative;
    align-items: center;
    background-color: #161445;
    border: 1px solid #a6cccc;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0px 4px 0px 16px;
    height: 30px;
}

.button{
    border: 1px solid #a6cccc;
    background-color: #161445;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 30px;
    width: 64px;
    margin: 0;
}