.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64319055;
    height: fit-content;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.flexNav {
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.random {
    border: 1px solid #161445;
    background-color: #16144595;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    height: 30px;
    width: fit-content;
    margin: 0;
    color: #c5c5d9;
}

.random:hover {
    background-color: #161445cc;
}

.random:active {
    transform: scale(0.9);
}

.random:focus {
    background-color: #161445cc;
    outline: none;
}

.buttons {
    margin-left: 4%;

}

.link2 {
    margin-left: 100px;
    border: 1px solid #161445;
    background-color: #16144595;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: fit-content 10px;
    color: #c5c5d9;
    padding-left: 30px;
    padding-right: 30px;
}

.link2:hover {
    background-color: #161445cc;
}

.link2:active {
    transform: scale(0.9);
}

.link1 {
    margin-left: 100px;
    border: 1px solid #161445;
    background-color: #16144595;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: fit-content 10px;
    color: #c5c5d9;
    padding-left: 30px;
    padding-right: 30px;
}

.link1:hover{
    background-color: #161445cc;
}

.link1:active{
    transform: scale(0.9);
}